.wrapper {
    align-items: center;
    background-color: #3689E6;
    height: 100vh !important;
    justify-content: center;
    min-height: 698px;
}

.content-box {
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 5px 30px 5px rgba(0,0,0,.2);
}

.btn-icon {
    border-width: 1px;
    border-radius: 30px!important;
    font-size: 1.25rem;
    height: 2.375rem;
    min-width: 2.375rem;
    overflow: hidden;
    padding: 0px;
    width: 2.375rem;
}

.footer {
    bottom: 0px;
    color: #FFF;
    position: absolute;
    
}

.heart {
    color: #F74933;
}

.footer a {
    color: #222222;
}

.github-fork {
    z-index: 1;
}

.credits {
    font-size: 12px;
}

@media (max-width: 576px) {
    .content-box {
        margin-top: -50px;
    }

    .btn-icon {
        display: none;
    }

    .credits {
        display: none;
    }
}

@media (max-height: 658px) {
    .content-box {
        margin-top: unset;
    }

    .footer {
        position: relative!important;
    }
}