.wrapper {
    align-items: center;
    background-color: #3689E6;
    height: 698px;
    justify-content: center;
}

.content-box {
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 5px 30px 5px rgba(0,0,0,.2);
}

.btn-icon {
    border-width: 1px;
    border-radius: 30px!important;
    display: none;
    font-size: 1.25rem;
    height: 2.375rem;
    min-width: 2.375rem;
    overflow: hidden;
    padding: 0px;
    width: 2.375rem;
}

.footer {
    bottom: 0px;
    color: #FFF;
    position: relative;
}

.heart {
    color: #F74933;
}

.footer a {
    color: #222222;
}

.github-fork {
    z-index: 1;
}

.credits {
    display: none;
    font-size: 12px;
}

@media (min-width: 576px) {
    .btn-icon {
        display: block;
    }

    .credits {
        display: block;
    }
}

@media (min-height: 672px) {
    .wrapper {
        height: 100vh!important;
    }

    .footer {
        position: absolute!important;
    }
}
